# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv/
venv/
ENV/
env/

# Database lokal
*.db
*.sqlite
*.sqlite3

# Upload lokal
backend/uploads/
uploads/

# Node
node_modules/
dist/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/